#root {
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo-container {
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  transition: filter 0.2s ease;
}

.logo-container:hover {
  filter: drop-shadow(0 0 2em #c02020aa);
}

.logo {
  max-width: 300px;
  display: block;
  border-radius: 10px;
  padding: 0;
  will-change: filter;
  transition: filter 300ms;
}

.components {
  justify-content: center;
  padding: 2em;
}
