#root {
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #c02020aa);
}

.components {
  justify-content: center;
  padding: 2em;
}
