#root {
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.components {
  justify-content: center;
  padding: 2em;
}
