.listing-box {
  border: 3px solid #888;
  border-radius: 8px;
  background-color: #fff;
  max-width: 300px;
  transition: filter 0.2s ease, border-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
  filter: none;
  align-self: center;
}

.listing-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 16px 32px -5px rgba(0,0,0,.35);
  border: 3px solid #999;
}
  

.listing-image {
  display: block;
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px 4px 0px 0px;
}

.listing-info {
  display: flex;
  background-color: #4f4f4f;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0px 0px 4px 4px;
  padding: 12px 0px 0px 12px;
  gap: 6px;
}

.item-name {
  font-size: 1.5em;
  font-weight: 600;
  color: #ffffff;
  text-align: left;
  margin: 0;
}

.item-description {
  font-size: 1em;
  color: #d2d2d2;
  line-height: 1.4;
  text-align: left;
  margin: 0 0 4px 0;
}

.icon {
  color: #d30707;
  text-decoration: none;
  text-align: left;
  font-size: 0.95em;
  transition: color 0.2s ease, text-decoration 0.2s ease;
}

.icon:hover {
  color: #ffffff;
}

.edit-icon {
  margin-right: 10px;
  font-size: 2rem;
}

.listing-bottom-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-meta {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 4px;
}
